@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Noto Sans KR', sans-serif;
    color-scheme: dark;
  }

  body {
    @apply bg-gray-900 text-gray-200 min-h-screen;
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }
}
